/node_modules
/public/hot/
/public/storage/
/storage
/storage/logs/
/storage/*.key
/vendor
/mysql/index.html/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.gitignore